{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>
            error page
        </title>
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
    </head>

    <body>
        <h1>
            This is error page
        </h1>

        <div class="frame">
            <p>
                {{ text }}
            </p>


           <button class="custom-btn btn-1" onclick="location='/'"><span>Home</span></button>
         

        </div>
     
    </body>

</html>