{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>
            file check page
        </title>
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>
            Success Page 
        </h1>
        
        <div>
            <span>
                Data loaded completely!!
            </span>
        </div>

        <div>
            <ul>
                <li>
                    <a href="/">Go home</a>
                </li>
            </ul>

        </div>
    </body>

</html>