{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <title>
        file check page
    </title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>



<body>
    <h1>
        Succss Page
    </h1>

    <div class="frame">
        <p>
            Data Loaded Completely !!
        </p>


        <button class="custom-btn btn-1" onclick="location='/'"><span>Home</span></button>


    </div>

</body>

</html>