{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>
            Home page
        </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/myapp.css' %}">
    </head>

    <body>
        <h1>
            PTPVisual
        </h1>

        <ul>
            <li>
                <a href="showdata/">Check current data in DataBase</a>
            </li>
            <li>
                <a href="readcsv/">Read csv from local directory</a>
            </li>
            <li>
                <a href="showgraph/">Show graph1</a>
            </li>
            <li>
                <a href="showstock/">Show graph2</a>
            </li>
            <li>
                <a href="userform/">User form</a>
            </li>
          
        </ul>
    </body>

</html>