<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>
            readcsv page
        </title>
    </head>

    <body>
        <h1>
            Read csv file completely!!
        </h1>

        <ul>
            <li>
                <a href="/">Go home</a>
            </li>
        </ul>
        {% for da in data %}
        <p>
           Realtime Timestamp :  {{ da.realtime_timestamp }} // 
           UTC : {{ da.utc }} // 
           Master offset : {{ da.master_offset }} // 
           Frequency : {{ da.frequency }} // 
           Path delay : {{ da.path_delay }} //
        </p>
        {% endfor %}
    </body>

</html>